
#preview {
    grid-area: preview;
    justify-self: center;
}

#markdown-preview {
    box-shadow: 20px 20px 50px grey;
    width: 40vw;
    height: auto;
    padding: 20px;
    margin: 20px;
    background-color: rgb(221, 254, 255);
    border-radius: 20px;
}

blockquote {
    padding: 3px 20px;
    border-left: 5px solid #063970;
    background-color: #c1d8f0;
}

@media (max-width: 1300px) {
    #preview {
      width: 100vw;
      text-align: center;
    }
    #markdown-preview {
        text-align: left;
        width: 80%;
        margin: auto;
        margin-bottom: 5vh;
    }
}  
