
#App {
  display: grid;
  grid-template-areas:
    'head head'
    'editor preview';
  overflow-x: hidden;
}

.title {
  font-family: 'Zilla Slab Highlight', cursive;
  font-size: 2.5rem;
}

@media (max-width: 1300px) {
  #App {
    grid-template-areas:
      'head'
      'editor'
      'preview';
  }
}
